#app {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #424142;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.container {
  width: 100%;
  text-align: center;
}

.button {
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 11px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

button:hover {
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
}
button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.button-add {
  justify-content: center;
  width: 80%;
}
.svg-plus {
  padding-left: 6px;
}

.container-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255);
  display: flex;
  z-index: 1;
}
.modal-window {
  // .modal-window_modal

  &_modal {
    padding: 10px;
    position: relative;
    margin: 3% auto;
    width: 80%;
    border-radius: 11px;
    background: rgba(0, 0, 0, 0.096);
  }
}
.modal-h1 {
  margin-bottom: 50px;
}
.modal-hide {
  position: absolute;
  justify-content: end;
  top: 10px;
  right: 10px;
}

// .task_title {
// }

.input {
  // .input_task-title

  &_task-title {
    height: 25px;
    display: block;
    min-width: 30%;
    padding-right: 10px;

    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    color: rgba(17, 24, 39, var(--tw-text-opacity));
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  &_task-title:focus {
    outline: 2px solid transparent;
    // outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(107, 114, 128, var(--tw-border-opacity));
  }

  // .input_task-text

  &_task-text {
    min-height: 100px;
    display: block;
    min-width: 40%;
    padding-right: 20px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    color: rgba(17, 24, 39, var(--tw-text-opacity));
    border-radius: 5px;
    max-width: 80%;
    max-height: 500px;
    font-size: 20px;

  }

  &_task-text:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(107, 114, 128, var(--tw-border-opacity));
  }
}
.task_text {
  margin-bottom: 30px;
}

.task_type {

  display: flex;
  justify-content:space-evenly;
  margin-bottom: 50px;
  // .task-type_text

  // &_text {
  // }

  // .task-type_selection{}

  // &_selection {
  // }
}
// .selection-checkbox {
// }
// .checkbox-task {
// }
// .checkbox-name {
// }
.time_date {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  margin-bottom: 60px;
  font-size: 18px;
}
// .date-added {
// }
.date-due {
  font-size: 20px;
  color:rgba(255, 0, 0, 0.678)
}
.save-remove {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.button-modal {
  display: flex;
  justify-content: center;

}
// .svg-plus {
// }
.wrapper {

  // .wrapper_tasks

  &_tasks {
    margin-top: 20px;
    display: grid;
    grid-template-columns:repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
}
.container {

  // .container_task

  &_task {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    overflow: hidden;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    
    border-color: rgba(0, 0, 0, 0.356);
    border-style: double;
    cursor: pointer;
  }
}
.task {

  // .task_name-content

  &_name-content {
    padding: 20px, 16px, 20px, 16px;
    text-align: center;
  }
}

.task-name{
  font-size: 20px;
  line-height: 24px;
  font-weight:500;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

}
.task_name-content{

  font-size: 20px;
  line-height: 24px;
  font-weight:500;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:pre-wrap;
}

.task-name{
  max-height: 70px;
  font-size: 26px;
  font-weight: 700;
  padding-top: 30px;
  margin-bottom:20px;
  text-overflow: clip;
}
.task-description{
  margin: 0;
  margin: 0, auto;
  overflow: auto;
  max-height: 200px;
  text-overflow: clip;
  margin-bottom: 20px;
  padding: 24px;
}

.type-task{
  margin-bottom: 20px;
}



// Todo  SELECTED TASK

.selected_task {
  display: flex;
  flex-direction: column;
 position: relative;
 align-items: center;

 
}
.select-border{
  border-width: 8px;
  border-color: rgb(0, 0, 0);
}
.task-M_content{
 font-size: 24px;
  width: 80%
}





//TODO Media Media Media Media Media Media Media Media

@media (min-width: 640px) {
  .wrapper_tasks {
    grid-template-columns: repeat(5, minmax(0,1fr));
  }
  .task_name-content {
  }
};

@media (max-width: 640px) {
  .time_date {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    margin-bottom: 60px;
    font-size: 18px;
  }
  .date-added {
    margin-bottom: 20px;
  }
}
